
/*遮罩层　透明度0.1*/
        #lean_overlay
        {
            position: fixed;
            z-index: 2;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            background-color: #000;
            display: none;
            opacity: 0.6;
        }
