body {
	font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
div {
	font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
dl {
	font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
dt {
	font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
dd {
	font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
ul {
	font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
ol {
	font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
li {
	font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
h1 {
	font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
h2 {
	font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
h3 {
	font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
h4 {
	font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
h5 {
	font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
h6 {
	font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
pre {
	font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
code {
	font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
form {
	font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
fieldset {
	font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
legend {
	font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
input {
	font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
textarea {
	font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
p {
	font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
blockquote {
	font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
th {
	font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
td {
	font: 14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif; margin: 0px; padding: 0px; font-size-adjust: none; font-stretch: normal;
}
.xydzp-winning {

	background:#b02e3d; -ms-overflow-x: hidden;
}
.xydzp-end {
	background:#b02e3d; -ms-overflow-x: hidden;
}
.xydzp-winning .main {
	background: url("images/zpbg.png") no-repeat top center;position: relative;
}
#outer-cont {
	top: 0; width: 100%; margin-bottom: 30px; position: relative;
}
#inner-cont {
	top: 100px; width: 100%; position: absolute;
}
#outer {
	margin: 0px auto; width: 327px; height: 327px; max-width: 327px;
}
#inner {
	margin: 0px auto; width: 90px; height: 110px; cursor: pointer; max-width: 90px;
}
#outer img {
	margin: 0px auto; display: block;
}
#inner img {
	margin: 0px auto; display: block;
}
.cover {
	margin: 0px auto; width: 320px; position: relative; max-width: 480px;
}
.cover img {
	width: 320px;
}
#scratchpad {
	left: 105px; top: 140px; width: 150px; height: 40px; text-align: center; color: rgb(51, 51, 51); line-height: 40px; font-size: 20px; position: absolute;
}
#prize {
	left: 105px; top: 140px; width: 150px; height: 40px; text-align: center; color: rgb(51, 51, 51); line-height: 40px; font-size: 20px; position: absolute;
}
.btn-cont {
	right: 3px; bottom: 3px; display: none; position: absolute;
}
.content {
	margin: 0px 0px 15px;
}
.banner {
	text-align: center;
}
.main img {
	border: 0px currentColor; max-width: 100%;
}
.boxcontent {
	margin: 15px 15px 0px; padding: 2px; border-radius: 5px; box-shadow: 0px 0px 6px rgba(0,0,0,0.5); background-color: rgb(254, 248, 178); -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); -o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.boxyellow {
	background-color: rgb(254, 248, 178);
}
.boxwhite {
	background-color: rgb(255, 255, 255);
}
.box {
	border-radius: 5px; border: 1px dashed rgba(0, 0, 0, 0.3); font-size: 14px;
}
.box .title-red {
	background: url("images/title-bg-red.png") no-repeat 0px 0px; margin: -1px; padding: 0px 5px 0px 10px; border-radius: 3px 3px 3px 0px; height: 22px; color: rgb(255, 255, 255);
}
.box .title-orange {
	background: url("images/title-bg-orange.png") no-repeat 0px 0px; margin: -1px; padding: 0px 5px 0px 10px; border-radius: 3px 3px 3px 0px; height: 22px; color: rgb(255, 255, 255);
}
.box .title-green {
	background: url("images/title-bg-red.png") no-repeat 0px 0px; margin: -1px; padding: 0px 5px 0px 10px; border-radius: 3px 3px 3px 0px; height: 22px; color: rgb(255, 255, 255);
}
.box .title-brown {
	background: url("images/title-bg-brown.png") no-repeat 0px 0px; margin: -1px; padding: 0px 5px 0px 10px; border-radius: 3px 3px 3px 0px; height: 22px; color: rgb(255, 255, 255);
}
.box .Detail {
	padding: 15px;
}
.Detail img {
	border: 0px currentColor; height: auto; max-width: 100%;
}
.red {
	color: red;
}
.green {
	color: green;
}
.px {
	margin: 10px 0px 0px; padding: 6px 10px; border-radius: 0.6em; border: 1px solid rgba(0, 0, 0, 0.3); width: 100%; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif; font-size: 18px; display: block; position: relative; box-shadow: inset 0px 1px 4px rgba(0,0,0,0.3); text-shadow: 0px 1px 0px #ffffff; background-color: rgb(255, 255, 255); -webkit-appearance: none;
}
.px:hover {
	border: 1px solid rgb(255, 101, 1);
}
.px:focus {
	border: 1px solid rgb(255, 101, 1); box-shadow: 0px 0px 5px #ff6501;
}
.pxbtn {
	background: linear-gradient(rgb(255, 162, 1), rgb(255, 101, 1)) rgb(255, 101, 1); border-width: 1px; border-style: solid; border-color: rgb(255, 101, 1) rgb(255, 101, 1) rgb(211, 86, 5); margin: 10px 0px 0px; padding: 10px; border-radius: 0.6em; width: 100%; text-align: center; color: rgb(255, 255, 255); font-size: 18px; font-weight: bold; display: block; white-space: nowrap; cursor: pointer; -ms-text-overflow: ellipsis; box-shadow: 0px 1px 3px rgba(0,0,0,0.5); text-shadow: 0px 0px 2px #be4205;
}
.pxbtn:visited {
	background-image: linear-gradient(rgb(255, 162, 1), rgb(255, 101, 1));
}
.pxbtn:hover {
	background-image: linear-gradient(rgb(255, 127, 1), rgb(255, 101, 1));
}
.pxbtn:active {
	border-width: 1px; border-style: solid; border-color: rgb(211, 86, 5) rgb(255, 101, 1) rgb(255, 101, 1); box-shadow: inset 0px 1px 4px rgba(0,0,0,0.3); background-image: linear-gradient(rgb(255, 101, 1), rgb(255, 162, 1));
}

.dzp{width:280px; height:280px; position:relative; margin:50px auto}
.disk{width:280px; height:280px; background:url(images/zpbg.png) no-repeat}
#start{width:113px; height:147px; position:absolute; top:56px; left:83px; cursor:pointer;}
#start img{cursor:pointer}

table{max-width:100%;background-color:transparent;border-collapse:collapse;border-spacing:0;}
.table{width:100%;margin-bottom:20px;}.table th,.table td{padding:8px;line-height:20px;text-align:left;vertical-align:top;border-top:1px solid #dddddd;}
.table th{font-weight:bold;}
.table thead th{vertical-align:bottom;}
.table caption+thead tr:first-child th,.table caption+thead tr:first-child td,.table colgroup+thead tr:first-child th,.table colgroup+thead tr:first-child td,.table thead:first-child tr:first-child th,.table thead:first-child tr:first-child td{border-top:0;}
.table tbody+tbody{border-top:2px solid #dddddd;}
.table .table{background-color:#ffffff;}
.table-condensed th,.table-condensed td{padding:4px 5px;}
.table-bordered{border:1px solid #dddddd;border-collapse:separate;*border-collapse:collapse;border-left:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}.table-bordered th,.table-bordered td{border-left:1px solid #dddddd;}
.table-bordered caption+thead tr:first-child th,.table-bordered caption+tbody tr:first-child th,.table-bordered caption+tbody tr:first-child td,.table-bordered colgroup+thead tr:first-child th,.table-bordered colgroup+tbody tr:first-child th,.table-bordered colgroup+tbody tr:first-child td,.table-bordered thead:first-child tr:first-child th,.table-bordered tbody:first-child tr:first-child th,.table-bordered tbody:first-child tr:first-child td{border-top:0;}
.table-bordered thead:first-child tr:first-child>th:first-child,.table-bordered tbody:first-child tr:first-child>td:first-child{-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;}
.table-bordered thead:first-child tr:first-child>th:last-child,.table-bordered tbody:first-child tr:first-child>td:last-child{-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;}
.table-bordered thead:last-child tr:last-child>th:first-child,.table-bordered tbody:last-child tr:last-child>td:first-child,.table-bordered tfoot:last-child tr:last-child>td:first-child{-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;}
.table-bordered thead:last-child tr:last-child>th:last-child,.table-bordered tbody:last-child tr:last-child>td:last-child,.table-bordered tfoot:last-child tr:last-child>td:last-child{-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;}
.table-bordered tfoot+tbody:last-child tr:last-child td:first-child{-webkit-border-bottom-left-radius:0;-moz-border-radius-bottomleft:0;border-bottom-left-radius:0;}
.table-bordered tfoot+tbody:last-child tr:last-child td:last-child{-webkit-border-bottom-right-radius:0;-moz-border-radius-bottomright:0;border-bottom-right-radius:0;}
.table-bordered caption+thead tr:first-child th:first-child,.table-bordered caption+tbody tr:first-child td:first-child,.table-bordered colgroup+thead tr:first-child th:first-child,.table-bordered colgroup+tbody tr:first-child td:first-child{-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;}
.table-bordered caption+thead tr:first-child th:last-child,.table-bordered caption+tbody tr:first-child td:last-child,.table-bordered colgroup+thead tr:first-child th:last-child,.table-bordered colgroup+tbody tr:first-child td:last-child{-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;}
.table-striped tbody>tr:nth-child(odd)>td,.table-striped tbody>tr:nth-child(odd)>th{background-color:#f9f9f9;}
.table-hover tbody tr:hover td,.table-hover tbody tr:hover th{background-color:#f5f5f5;}
table td[class*="span"],table th[class*="span"],.row-fluid table td[class*="span"],.row-fluid table th[class*="span"]{display:table-cell;float:none;margin-left:0;}
.table td.span1,.table th.span1{float:none;width:44px;margin-left:0;}
.table td.span2,.table th.span2{float:none;width:124px;margin-left:0;}
.table td.span3,.table th.span3{float:none;width:204px;margin-left:0;}
.table td.span4,.table th.span4{float:none;width:284px;margin-left:0;}
.table td.span5,.table th.span5{float:none;width:364px;margin-left:0;}
.table td.span6,.table th.span6{float:none;width:444px;margin-left:0;}
.table td.span7,.table th.span7{float:none;width:524px;margin-left:0;}
.table td.span8,.table th.span8{float:none;width:604px;margin-left:0;}
.table td.span9,.table th.span9{float:none;width:684px;margin-left:0;}
.table td.span10,.table th.span10{float:none;width:764px;margin-left:0;}
.table td.span11,.table th.span11{float:none;width:844px;margin-left:0;}
.table td.span12,.table th.span12{float:none;width:924px;margin-left:0;}
.table tbody tr.success td{background-color:#dff0d8;}
.table tbody tr.error td{background-color:#f2dede;}
.table tbody tr.warning td{background-color:#fcf8e3;}
.table tbody tr.info td{background-color:#d9edf7;}
.table-hover tbody tr.success:hover td{background-color:#d0e9c6;}
.table-hover tbody tr.error:hover td{background-color:#ebcccc;}
.table-hover tbody tr.warning:hover td{background-color:#faf2cc;}
.table-hover tbody tr.info:hover td{background-color:#c4e3f3;}
.fontcolor{color:#fff;}