<!-- 头部 -->
<include file="Public/mobile_head"/>
<if condition="$isend">
<link href="{:ADDON_PUBLIC_PATH}/xydzp.css?v={:SITE_VERSION}" rel="stylesheet"  type="text/css">
<body class="xydzp-end">
    <div class="main">
	    <div class="banner">
			    <img src="{:ADDON_PUBLIC_PATH}/images/end.jpg">
		</div>
        <div class="content" style=" margin-top:10px">
            <div class="boxcontent">
                <div class="box">
                    <div class="title-red">活动结束说明：</div>
                    <div class="Detail">
                        <p> 亲，活动已经结束，请继续关注我们的后续活动哦。</p>
                    </div>
                </div>
    		 </div>
    		<div style="margin: 20px 10px 30px 10px;text-align:center;">
				<input type=button  value="查看中奖记录" onclick="location.href='{:U('zjinfo?id='.$xydzp_id)}'" style="color:#000000; background-color: #FEF8B2;width: 45%; font-size: larger;line-height: 30px; border:1px #5F88B7 solid; border-radius:4px;">
			</div>
		</div>
    </div>
</body>
<else />
	<if condition="$isgz_url eq ''">
	<link href="{:ADDON_PUBLIC_PATH}/xydzp.css?v={:SITE_VERSION}" rel="stylesheet"  type="text/css">
	<link rel="stylesheet" type="text/css" href="{:ADDON_PUBLIC_PATH}/info.css" media="all">
	<BODY class="xydzp-winning">				
				<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/js/jQueryRotate.2.2.js"></script>
				<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/js/jquery.easing.min.js"></script>		
				<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/js/init.js"></script>
				<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/js/initinfo.js"></script>
				<script type="text/javascript">
				   var jplist={$jplist};
				   var joinurl="{$joinurl}";
				   var posturl="{$isinfo_url}";
				   var zpimg ="{:ADDON_PUBLIC_PATH}/images/zpa.png";	
					//分享设置
					var imgUrl = "{$fxpic}";  
					var lineLink = "{$gzurl}";  
					var descContent = "{$fxdes}";  
					var shareTitle = "{$fxtitle}";  
					var appid = "{$fxappid}";
				</script>
				<DIV class="main">           
					<DIV id="outercont">
						<DIV id="outer-cont">					
							<DIV id="outer">
								<canvas id="wheelcanvas" width="327" height="327">
								</canvas>
							</DIV>
						</DIV>
						<DIV id="inner-cont">
							<DIV id="inner">
								<img id="startbtn" src="{:ADDON_PUBLIC_PATH}/images/starta.png" />
							</DIV>
						</DIV>
					</DIV>
					<DIV class="content">

						<DIV class="boxcontent boxyellow">
							<DIV class="box">
								<DIV class="title-orange">
									最新中奖:
								</DIV>
								<DIV class="Detail">
								   <table style="margin:0 auto;" class="table table-bordered">
										<tr>
											<th>昵称</th>
											<th>奖品</th>
											<th>中奖时间</th>
										</tr>
									<volist name="zjuserlist" id="jp">
										<tr>
											<td>{$jp.nickname}</td>
											<td>{$jp.title}</td>
											<td>{$jp.zjdate|time_format}</td>
										</tr>
									</volist>
								</table>
							</DIV>
						</DIV>
					</DIV>
				</DIV>
				<DIV class="boxcontent boxyellow">
					<DIV class="box">
						<DIV class="title-green">
							<SPAN>
								奖项设置：
							</SPAN>
						</DIV>
						<DIV class="Detail" style="text-align:center;">
							<ul style="margin:0 auto;">
							<volist name="jplists" id="jp">
								<if condition="$jp.isdf eq '0'">
								<li style="float:left; margin:5px;">
								<div><img style="border:2px solid #FFF;" src="__ROOT__{$jp['pic']|get_cover='path'}" width="82px" height="100px"/></div>
								<P>{$jp.title}</P>
								</li>
								</if>
							</volist>
							</ul>
							<div style="clear:both;"></div>
						</DIV>
					</DIV>
				</DIV>
			</DIV>
			<DIV class="boxcontent boxyellow">
				<DIV class="box">
					<DIV class="title-green">
							活动介绍：
						</DIV>
						<DIV class="Detail">
							<P>
								{$hddata.des|htmlspecialchars_decode}
							</P>
						</DIV>
					</DIV>
				</DIV>
				<DIV class="boxcontent boxyellow">
					<DIV class="box">
						<DIV class="title-green">
							活动说明：
						</DIV>
						<DIV class="Detail">
							<P class="red">
								本次活动每天可以转{$hddata.choujnum}次!
								<br/>
								您还有
								<SPAN id="count">
									{$cjnum}
								</SPAN>
								次机会.
							</P>
							<P class="green">
								活动时间:
								<br/>
								{$hddata.start_date}至{$hddata.end_date}
							</P>
							<P>
								欢迎参加幸运大转盘抽奖
								<BR>
								亲，需要绑定账号才可以参加哦
							</P>
						</DIV>
					</DIV>
					<div style="margin: 20px 10px 30px 10px;text-align:center;">
					<input type=button  value="查看我的中奖记录" onclick="location.href='{:U('zjinfo?id='.$xydzp_id)}'" style="color:#000000; background-color: #FEF8B2;width: 45%; font-size: larger;line-height: 30px; border:1px #5F88B7 solid; border-radius:4px;">
					</div>
				</DIV>
				<audio id="playyy" src="{:ADDON_PUBLIC_PATH}/images/m.mp3" style="display:none;">
				</audio>
				<FOOTER style="text-align: center; color: rgb(255, 216, 0); margin-right: 20px;">
				</FOOTER>
				<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/js/wxfx.js"></script>				
	</BODY>
	<else />
	<link rel="stylesheet" type="text/css" href="{:ADDON_PUBLIC_PATH}/info.css" media="all">
	<body style="background:#d2d2d2;">
		<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/js/initinfo.js"></script>
		<script>
			var posturl="{$isinfo_url}";
		</script>
		<div id="dail" style="height: 100px; width: 300px; opacity: 0.5;background-color:#000; border: solid 10px #999999;border-radius:10px;display: none;">
	        &nbsp;
			</div>
			<div id="dail2" style="height: 100px; width: 300px;font-size:20px;opacity: 1;text-align:center; color:#FFF; border-radius:10px;display: none;">
				<span id="alertinfo">请先关注公众账号<br/>便于中奖后联系</span>
				<br/>
				<button id="btn_alert" class="home_btn mb_10 flex_1" >确定</button>
		</div>	
		<div class="container body">
	    	<img src="{:ADDON_PUBLIC_PATH}/images/gz_head.jpg" width="100%"/>
			<script type="text/javascript">	
			$(function(){
				$("#btn_alert").bind("click",HideDiv)
				ShowDiv();
			});
			</script>
	    </div>
	</body>
	</if>
</if>
</HTML>